.app{
    display: gird;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 10fr;
    height: 100vh;
    background: linear-gradient(135deg, #711778, #007853);
    box-sizing: border-box;
    padding: 30px;
}

.app-days-container{
    display: gird;
    grid-column: 1;
    grid-row: 1;
    height: 10vh;
    background: white;
    border-radius: 15px;
}

.app-categories-container{
    display: gird;
    grid-column: 1;
    grid-row: 2;
    height: calc(20vh - 60px);
    background: white;
    border-radius: 15px;
    margin-top: 30px;
}

.app-feed-container{
    display: gird;
    grid-column: 1;
    grid-row: 3;
    height: calc(70vh - 60px);
    background: white;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 30px;
}