.category-panel{
    display: grid;
    grid-auto-columns: minmax(150px ,200px);
    grid-template-rows: 1fr;
    grid-gap: 5vw;
    height: 100%;
    box-sizing: border-box;
    padding: 40px 10vw 40px 10vw;
    justify-content: center;
    align-content: flex-start;
    
}