.category-button {
    display: grid;
    grid-row: 1;
    background: rgba(241, 49, 255, 0.65);
    width: 100%;
    height: 10vh;
    border-radius: 15px;
    align-self: center;
}

.category-button h2 {
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 300;
}
