.category-panel-grid{
    display: grid;
    grid-template-rows: 1fr auto;
}

.category-panel{
    display: flex;
    grid-row: 1;
    justify-content: space-around;
    align-content: center;
    padding-left: 15vw;
    padding-right: 15vw;
}

.category-underline{
    display: flex;
    grid-row: 2;
    justify-content: space-around;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 10px;
}

.category-underline-lines{
    width: 11vw;
    height: 7px;
}