.days-panel{
    display: flex;
    align-content: center;
    justify-content: space-around;
    font-size: 0.6vw;
    border-bottom: none;
    padding: 0;
}

.days-panel-title{
    display: flex;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: none;
    padding-bottom: 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.days-panel-day-regular{
    display: flex;
    font-weight: 400;
    border-bottom: none;
    padding-bottom: 0;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.days-panel-day-regular:hover{
    color: rgba(0, 0, 0, 0.8);
}

.days-panel-day-bold{
    display: flex;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0;
    color: black;
    cursor: default;
}

