.feed-item{
    display: grid;
    grid-template-areas: "img .   .     .   ."
                         "img . title  time ."
                         "img .   .     .   ."
                         "img . desc   desc ."
                         "img . icons icons ."
                         "img .   .     .   .";
    grid-template-columns: 1fr 15px 200px 60px 15px;
    grid-template-rows: 20px 40px 10px 80px 1fr 10px;
    background: rgb(255, 255, 255); 
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2); 
    border-radius: 15px;
    height: 200px;
}

.feed-item img {
    display: grid;
    grid-area: img;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    border-radius: 15px 0 0 15px;
}

.feed-item-title{
    display: grid;
    grid-area: title;
}

.feed-item-title h2 {
    display: flex;
    font-size: 13pt;
}

.feed-item-title h3 {
    display: flex;
    color: gray;
    font-weight: 100;
    font-size: 11pt;
    padding-top: 5px;
}

.feed-item-timelabel{
    display: grid;
    grid-area: time;
    background: red;
    width: 100%;
    height: 80%;
    border-radius: 20px;
}

.feed-item-timelabel h2{
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 13pt;
}

.feed-item-description {
    display: grid;
    grid-area: desc;
    align-content: flex-end;
}

.feed-item-description p {
    display: flex;
    font-size: 120%;
    padding-right: 10%;
}

.feed-item-description a {
    display: flex;
    padding-bottom: 10px;    
}

.feed-item-icons {
    display: flex;
    grid-area: icons;
    align-self: flex-end;
    justify-content: space-between;
    flex-direction: row;
}

.feed-item-icons h3 {
    font-size: 10pt;
    font-weight: 400;
}

.feed-item-icons h2 {
    font-size: 12pt;
    font-weight: 900;
    justify-self: center;
}

.feed-item-icons-class {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}


