.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-search{
    width: 400px;
    height:50px;
    border-radius: 15px;
    border: 1px solid #ABABAB;
    text-indent: 25px
}